こんにちは、Async*です。<br/><br/>

ご登録いただいているパスワードの再発行を受け付けました。<br/><br/>

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br/><br/>
<a href="{{ url }}">パスワードの再発行は以下のURLより行なってください。</a><br/><br/>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br/><br/>

上記のリンクの有効期限は受信より24時間以内となっております。<br/>
期限を越えた場合には、再度パスワード再発行画面から手続きを行なってください。<br/><br/>

このメールは、送信専用メールアドレスです。<br/>
ご返信いただいてもお答えできません、ご了承ください。<br/><br/>

このメールにお心当たりがない場合や、<br/>
ご不明点、ご質問がございましたら、<br/><br/>
メールにてAsync*<br/>
async@datafluct.com<br/>
までお問い合わせください。<br/><br/>
--------------------------<br/>

運営元：株式会社DATAFLUCT